body {
    font-family: "Aldrich", sans-serif;
    font-size: 2rem;
    height: 100vh;
}

button,
div,
form,
input {
    margin: 10px;
}

button,
#add-grub,
btn,
input#add-grub {
    background: transparent;
    border-radius: 3px;
    border-style: solid;
    border-width: 2px;
    padding: 4px 8px;
    border: 2px solid #444;
}

.btn-info,
.btn-success {
    width: 100px;
}

.modal-content {
    padding: 20px;
}

.footer {
    height: 50px;
    background-color: transparent;
    width: 100%;
    text-align: right;
    padding-top: 15px;
    padding-right: 25px;
}

a,
a:hover {
    text-decoration: none;
    text-decoration-line: none;
    color: #444;
}

.epicGIF:hover {
    opacity: 0.8;
}
