html {
   background-color: #3C4553;
}

body {
   color: #fff;
   background-color: #3C4553;
   font-family: 'Aldrich', sans-serif;
}

#header {
   color: #ff8623;
}

button, div, form, input {
   margin: 10px;
}

.btn-info, .btn-success {
   font-size: 16px;
   width: 100px;
}

.btn-warning {
  width: 150px;
  background-color: #3C4553;
  border: none;
  margin-right: 20px;
}

#grub-input, .modal-content {
   color: #4d5563;
}

#work {
  float:right;
}

.modal-content {
  padding: 20px;
}

form#grub-form {
   float: right;
}

#add-grub {
   width: 150px;
   font-size: 13.5px;
}

p {
   margin-top: 10px;
}

.footer {
	height: 50px;
	background-color: transparent;
	color: #fff;
	width: 100%;
	text-align: right;
	font-size: 12px;
   padding-top: 15px;
   padding-right: 25px;
   /* opacity: 0.8; */
}

a, a:hover {
   text-decoration: none;
   text-decoration-line: none;
   color: #ff8623;
}

.epicGIF:hover {
   opacity: 0.8;
}