body {
    background-image: url('../images/y.png');
    background-repeat: repeat;
    font-family: "Aldrich", sans-serif;
    font-size: 2rem;
    height: 100vh;
}

button,
div,
form,
input {
    margin: 10px;
}

button,
#add-grub,
btn,
input#add-grub {
    background: #fff;
    border: 2px solid #444;
    border-radius: 3px;
    padding: 4px 8px;
}

.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.title {
    font-size: 5rem;
}

a,
a:hover {
    text-decoration: none;
    text-decoration-line: none;
    color: #444;
}

.how-dis-work {
    border: 1px solid #444;
    font-size: 1.5rem;
}

.epicGIF:hover {
    outline: 2px solid #444;
}

.gif-container {
    min-height: 80vh;
}

.modal-content {
    padding: 20px;
}

.footer {
    background-color: transparent;
    text-align: right;
    padding-top: 15px;
    padding-right: 25px;
    width: 100%;
}